<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">
      Listing Items
      <%= link_to 'New Item', new_item_path, class: 'btn btn-xs btn-success pull-right' %>
    </div>
  </div>
  <div class="panel-body">
    <%= render "items/items" %>
  </div>
</div>
