<div class="panel panel-warning">
  <div class="panel-heading">
    <div class="panel-title">
      Editing Product
    </div>
  </div>
  <div class="panel-body">
    <%= render 'products/form', product: @product %>
  </div>
</div>
