<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">
      Listing Products
      <%= link_to 'New Product', new_product_path, class: 'btn btn-xs btn-success pull-right' %>
    </div>
  </div>
  <div class="panel-body">
    <%= render "products/products" %>
  </div>
</div>
