<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">
      New Product
    </div>
  </div>
  <div class="panel-body">
    <%= render 'products/with_amount_form', product: @product %>
  </div>
</div>
