<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">
      Product Details
      <div class="actions">
        <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-xs btn-warning' %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <%= render "products/product", product: @product %>
  </div>
</div>
<br>
<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">
      Listing Items
      <div class="actions">
        <a href='#' type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#newItemModal">
          New Item
        </a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <%= render "items/items", items: @items %>
  </div>
</div>
<% content_for :modal do %>
  <%= render "items/modal_form", product: @product %>
<% end %>