<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Stock Manager</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <a href="#"><%= current_user.email %></a>
          </li>
          <li>
            <%= link_to sanitize('Sign out'), destroy_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>